.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
